@page

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="messageInput" id="username">Привет, </label>
        <input type="text" class="form-control" id="messageInput" placeholder="Скажите что-нибудь в общий чат">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <input type="button" value="Отправить сообщение" id="sendButton" class="btn btn-outline-primary">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table class="table table-hover table-borderless">
            <tbody id="messagesList">
                
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>