@page
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="username">Логин</label>
        <input type="text" class="form-control" id="username" placeholder="Логин">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Пароль">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <a class="nav-link" asp-area="" asp-page="/Registration">Регистрация</a>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <input type="button" value="Вход" id="authBut" class="btn btn-primary">
    </div>
</div>

<div class="form-row" id="errorAlert" hidden="true">
    <div class="form-group col-md-6">
        <div class="alert alert-danger" role="alert">
            Ошибка, введены неверные данные!
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="js/auth.js"></script>