@page
@model Chat.Pages.RegistrationModel
@{
    ViewData["Title"] = "Форма регистрации";
}

<h1>Регистрация нового пользователя</h1>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="username">Имя пользователя (логин)</label>
        <input type="text" class="form-control" id="username" placeholder="Логин">
    </div>
</div>

<div class="form-row" id="changeOtherName" hidden="">
    <div class="form-group col-md-4">
        <div class="alert alert-danger" role="alert">
            Пользователь с таким именем существует!
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Пароль">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="againPassword">Повторите пароль</label>
        <input type="password" class="form-control" id="againPassword" placeholder="Повторите пароль">
    </div>
</div>

<div class="form-row" id="emptySpace" hidden="">
    <div class="form-group col-md-4">
        <div class="alert alert-danger" role="alert">
            Не должно быть пустых полей!
        </div>
    </div>
</div>

<div class="form-row" id="changePassword" hidden="">
    <div class="form-group col-md-4">
        <div class="alert alert-danger" role="alert">
            Пароли не совпадают!
        </div>
    </div>
</div>

<div class="form-row" id="registrationComplete" hidden="">
    <div class="form-group col-md-4">
        <div class="alert alert-success" role="alert">
            Аккаунт создан!
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-auto">
        <input type="button" value="Зарегистрироваться" id="registrationBut" class="btn btn-secondary">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <a class="btn btn-primary" role="button" asp-page="/Index">Назад</a>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="js/registration.js"></script>
